version: '3.8'

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - uploads:/app/uploads # tell container to start volume 'uploads' at '/app/uploads'
    environment:
      - NODE_ENV=production
volumes: #  named volume definition at top level
  uploads:
